.notification {
    padding: 10px;
    background-color: #eee;
    margin-bottom: 10px;
    border-radius: 5px;
}
.notification.error {
    border: 2px solid #933;
    color: #933;
}
.notification.success {
    border: 2px solid #393;
    color: #393; 
}


.blog {
    margin-bottom: 10px;
    border: 2px solid #333;
    padding: 5px;
}
